
html, body {
    margin: 0;
    // text-align:
}

img {
    -ms-interpolation-mode: bicubic;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}

svg {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.25s linear;
}

::placeholder {
    color: palette(rose);
    transition: color 0.25s ease;
}

:hover::placeholder {
    color: lighten(palette(rose), 10%);
}

:focus::placeholder {
    color: palette(rose);
}

nav li {
    float: left;
    margin-right: 1rem;
}

.container {
    // @include set-container;
    margin-left: 1rem;
    margin-right: 1rem;
}

.page {
    background-color: palette(rose);
}

iframe {
    margin: 1rem 0 0;
}

h1 {
    &:after {
        transform: translateY(0.0625em);
    }
}

h2 {
    &:after {
        transform: translateY(0.0375em);
    }
}