// init megatype
@include megatype;

// Setting root sizes and base styles.
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    @include rootsize;
    background-position: center 49.9% !important;

}

// Site-wide base styles.
body {
    line-height: 2rem;
    font-family: font-family-of($sans);
    font-style: normal;
    font-weight: regular-of($sans);
}

// Links.
a {
    color: palette(blue);
    text-decoration: none;
    // Nice underlines for text links.
    @extend %link-style;

    &:hover, &:active, &:focus {
        color: lighten(palette(blue), 5%);
        text-decoration: none;
    }
}

%link-style {
    @include text-link(palette(blue));
}


%inherit-type {
    font-size: inherit;
}

// Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
p, li {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-family: font-family-of($sans);
    margin-left: auto;
    margin-right: auto;
    color: palette(steel);
    -webkit-font-smoothing: antialiased;
    @include typeset($sans, 1.5rem, 2, 0, 1);
    color: #fff;
}

p + p {
    margin-top: -1rem;
}

// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
h1, h2, h3, h4, h5, h6 {
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #fff;
    font-family: font-family-of($display);
    -webkit-font-smoothing: antialiased;
    font-style: regular-of($sans);
    margin-left: auto;
    margin-right: auto;

    a {
        @include text-link(#fff);
    }
}

// Heading level 1.
h1, .h1-style {
    @include typeset($display, 3.5rem, 4, 0, 3);
}

// Heading level 2.
h2, .h2-style {
    @include typeset($sans, 2.375rem, 3, 0, 2);
    font-family: font-family-of($sans);

}

// Heading level 3.
h3, .h3-style {
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-family: font-family-of($sans);
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    @include typeset($sans, 2rem, 3, 1, 1);
}

// Heading level 4.
h4, .h4-style {
    @include typeset($sans, 1.75rem, 3, 1, 1);
}

// Heading level 5.
h5, .h5-style {
    @include typeset($sans, 1.5rem, 3, 1, 1);
}

// Heading level 6.
h6, .h6-style {
    @include typeset($sans, 1.35rem, 2, 1, 1);
}

// Lists.
ul, ol {
    // @include baseline(eta, $bodytype, 2, 2);
}

ul {
    list-style: disc outside;

    li {
        padding-left: 0.25rem;
    }
}

ol {
    padding-left: 1.25rem;
}

li {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    // margin-left: 1.5rem;

    // @include breakpoint(break-1) {
    //     margin-left: 0;
    // }
}

// Bold.
b, strong {
    font-weight: bold-of($sans);
}

// Italic.
em, i {
    font-style: italic-of($sans);
}

// Caption and inline small text.
small, .caption {
    font-family: font-family-of($sans);
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: regular-of($sans);
    // @include fontsize(12);
    letter-spacing: -0.035em;
}

small {
    line-height: 1rem;
}

.caption {
    color: palette(steel);
    // @include baseline(12, $headingtype, 2, 2);
}

// Nice spacing for captions.
h1 + .caption, h2 + .caption, h3 + .caption {
    margin-top: -1rem;
}

// Quotes.
blockquote {

    p {
        font-style: italic-of($sans);
        padding-left: 1rem;
        border-left: 0.1rem solid palette(steel);
        color: palette(steel);
        @include typeset($display, 1.5rem, 2, 2, 2);
    }
}

// Horizontal rule.
hr {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,#fff 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 50%;
    border: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

// Code block.
code, pre {
    // font-style: italic;
    font-family: font-family-of($sans);
    display: inline-block;
}

pre {
    border-radius: 0.3rem;
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 2rem;
    padding: 1rem;
}

code {
    // @include fontsize(12);
    line-height: 1;
}

input[type=text],
textarea {
    font-family: font-family-of($sans);
    text-align: left;
    color: palette(steel);
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    background-color: #fff;
    outline: 0 none;
    padding: 0.55em 1.25em 0.65em;
    margin: 0;
    border: 1px solid #fff;
    line-height: 1.625rem;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
        background-color: rgba(255,255,255,0.95);
        outline: 4px solid rgba(255,255,255,0.2);
    }
}

input[type=submit] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

// Letter space those capitals people, Jan Tschichold would be proud.
.upper {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

// Real small caps.
.small-caps {
    font-feature-settings: 'smcp' 1, 'kern' 1;
    letter-spacing: 0.1rem;
}

// Consistent height numbers with OpenType.
.lining-numerals {
    font-feature-settings: 'lnum' 1, 'kern' 1;
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
    font-feature-settings: 'onum' 1, 'kern' 1;
}

