
@font-face {
 font-family: "Polaris";
 src: url("../webfonts/Polaris-Bold.eot?#iefix");
 src: url("../webfonts/Polaris-Bold.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Polaris-Bold.woff") format("woff");
 font-weight: bold;
 font-style: italic;
}

@font-face {
 font-family: "Polaris";
 src: url("../webfonts/Polaris-Bold.eot?#iefix");
 src: url("../webfonts/Polaris-Bold.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Polaris-Bold.woff") format("woff");
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: "GT Pressura Mono";
 src: url("../webfonts/gt-pressura-mono-light-webfont.eot?#iefix");
 src: url("../webfonts/gt-pressura-mono-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/gt-pressura-mono-light-webfont.woff") format("woff"),
    url("../webfonts/gt-pressura-mono-light-webfont.ttf") format("truetype");
}
