// example module syntax
.frame {
    position: relative;

    &:last-child {
        .next-arrow {
            display: none;
        }
    }

    &.img-left {
        img {
            float: left;
            margin-right: 3rem;
            max-width: 16em;
            max-height: 100%;
        }

        .contained {

            li {
                list-style: outside;
            }
        }
    }

    img {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.is-centered {
        h1 {
            text-align: center;
        }
    }

    &.is-large {
        h1 {
            @include typeset($display, 4rem, 5, 0, 2);
        }
    }

    &.scale-img {
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            transform-origin: center center;
        }

        &.active img {
            transform: translateX(-50%) translateY(-50%);
            animation: scale-forever 20s linear 1 both;
        }
    }

    &.fit-image {
        img {
            max-height: calc(100vh - 2rem);
            width: auto;
            min-width: 0;
            top: 0;
            position: relative;
        }
    }

    &.slide-in {
        &.active img {
            transform: translateY(-100%);
        }

        img {
            position: absolute;
            top: 100%;
            right: 3em;
            transition: transform 8s ease-in-out;
            transition-delay: 1.5s;
        }
    }

    //styles
    &.has-image-bg {
        overflow: hidden;
        text-shadow: 0 0 1em rgba(0,0,0,0.35);

        img {
            min-width: calc(100% + 2rem);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            bottom: 0;
            min-height: 100%;
            max-width: 100%;
            z-index: 0;
        }

        > div:before {
            content: "";
            display: block;
            position: absolute;
            top: 1.5rem;
            left: -1rem;
            right: -1rem;
            bottom: 1rem;
            background: #000;
            opacity: 0.35;
            z-index: 2;
        }
    }

    ul {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;

        li {
            color: #fff;
        }
    }

    &__img {
        overflow: hidden;
        display: block;
        position: absolute;
        top: 1.5rem;
        bottom: 1rem;
        width: 100%;
    }
}

.fp-section {
    position: relative;
    overflow: hidden;

    // &:before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: -1rem;
    //     right: -1rem;
    //     bottom: 0;
    //     border: 1rem solid site-color(rose);
    //     z-index: 1000;
    // }
}

.contained {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    right: 10%;

    > * {
        padding-top: 0;
    }
}

.window {
    margin-top: 2rem;
    box-shadow: 0 4px 24px rgba(0,0,0,0.4);
    width: 65%;
    min-width: 35em;
    max-width: 100%;
}

@keyframes scale-forever {
    0% {
        opacity: 0.75;
        transform: translateX(-50%) translateY(-50%) scale(0.2) rotate(1deg);
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: translateX(-60%) translateY(-240%) scale(11.4) rotate(1790deg);
    }
}