.next-arrow {
    @include draw-arrow(#fff, bottom, 6rem);
    position: fixed;
    bottom: 3rem;
    left: 50%;
    cursor: pointer;
    transition: all 0.5s ease!important;
    z-index: 1000;

    &:hover {
        transform: translateY(1.225rem);
    }
}