.spooky {
    background-color: #071229;
    padding: 1.5rem;
    margin: 0 -1.5rem;
    border-radius: 4px;

    h3 {
        font-size: 1.75rem;
        margin: 0 0 1.5rem;
        display: inline-block;
        font-family: font-family-of($display);
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: 0;
        margin-left: 0;
    }

    h3, p {
        max-width: 36em;
        animation: spooky 5s ease infinite 0s both;
    }
}

@keyframes spooky {
    0%, 100% {
        background: #8232d2;
    }
    50% {
        background: transparent;
    }
}