<a href="#" class="next-arrow js-next-frame"></a>

<div class="container">
    <div class="frame is-large">
        <div class="contained">
            <h1>A Jolly Web Typesetting Adventure</h1>
            <h2>Web Typography is broken: here&rsquo;s how we can fix it</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Thomas Bredin-Grey</h1>
            <h2>Lead Front End Developer</h2>
            <img src="images/logo-thick.svg" alt="Thick" class="logo_thick">
        </div>
    </div>

{#     <div class="frame">
        <div class="contained">
            <h1>What?</h1>
            <ul>
                <li>Why should we care about web typography?</li>
                <li>Overview of existing tools</li>
                <li>Something new</li>
                <li>The future</li>
            </ul>
        </div>
    </div> #}

    <div class="frame is-large is-centered has-image-bg">
        <div class="contained">
            <h1>Why should we care?</h1>
        </div>
        <div class="frame__img">
            <img src="images/dog-no-care2.jpg" alt="why">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>It&rsquo;s about the users</h1>
            <h2>How can we improve the traversability of content in a layout?</h2>
            {# how? 2 ways: type, and grids to add structure to our type #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>The web is 95% typography</h1>
            <h2>We spend a lot of time setting type, but we don&rsquo;t talk about it much</h2>
            {# 1: type #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <img src="images/meetup.png" alt="meetup">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <img src="images/medium.png" alt="medium">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Grids are one way we can bring structure to our type</h1>
            <img src="images/book.jpg" alt="Grids" class="img_small">
            {# 2: grids, for structure behind our type. Especially baseline grids #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>The web is saturated with grid columns</h1>
            <h2>To support type, we often want a baseline</h2>
            {# TODO #}
            <img src="images/baseline-grid.gif" alt="example baseline grid">
            {# how can we build a baseline grid on the web #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>CSS <code>line-height</code> sucks.</h1>
            <h2>It adds vertical space around text.<br>Isn&rsquo;t this what margins are for?</h2>

            <div class="spooky">
                <h3>The Spooky Box</h3>
                <p>The dimensions of type on the web are defined by a combination of font-size and line-height - there&rsquo;s no concept of a typographic baseline.</p>
            </div>
            {# this makes it hard to build our baseline grid #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Developers and designers speak different languages</h1>
            <h2>There isn't any typographic basis for the space that <code>line-height</code> creates.</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>A typographic spec</h1>
            <img src="images/type-system-example.png" alt="A typographic spec">
        </div>
    </div>

    <div class="frame is-large is-centered has-image-bg">
        <div class="contained">
            <h1>Notable tools</h1>
        </div>
        <div class="frame__img">
            <img src="images/tools.jpg" alt="tools">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Compass Vertical Rhythm
            <h2>You had one job</h2>
            <img src="images/compass.png" alt="compass example">
            {# <iframe height='360' scrolling='no' src='//codepen.io/tbredin/embed/eZmGyZ/?height=360&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe> #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Sassline</h1>
            <h2>Modern, but not entirely natural</h2>
            {# <iframe height='360' scrolling='no' src='//codepen.io/tbredin/embed/xVQVVQ/?height=360&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe> #}
            <img src="images/sassline.png" alt="sassline example">
        </div>
    </div>

{#     <div class="frame">
        <div class="contained">
            <h1>Siegmeyer 2</h1>
            <h2>Modern, natural, but cumbersome</h2>
            <iframe style="width: 100%;" src="http://codepen.io/tbredin/embed/qZbgOG/?height=360&theme-id=0&default-tab=result&embed-version=2" width="320" height="360" frameborder="no" scrolling="no"></iframe>
        </div>
    </div>
 #}
    <div class="frame is-large is-centered has-image-bg">
        <div class="contained">
            <h1>Something new</h1>
        </div>
        <div class="frame__img">
            <img src="images/dog.jpg" alt="dog">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Best practises</h1>
            <ul>
                <li>Type is best set in rems or ems. Depending on context</li>
                <li>Pixels aren&rsquo;t flexible (literally)</li>
                <li>Line height is best expressed unitless</li>
                <li>Tool output should be predictable</li>
                <li>Tool output should leave predictable options for workarounds</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h2>Introducing</h2>
            <h1>MegaType</h1>
            <img src="images/megatype.png" alt="Megatype" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Web typography without the Spooky Box</h1>
            <h2>Demo time</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Breakpoint config</h1>
            <img src="images/breakpoint-map.png" alt="Breakpoint config" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Fluid type / Baseline snap</h1>
            <img src="images/scaling-and-baseline.png" alt="Scaling / Baseline" class="img_code">
            <ul>
                <li>Scale type smoothly between breakpoints</li>
                <li>Snap all type to a baseline grid</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Provide a cap-height</h1>
            <img src="images/cap-height.png" alt="cap-height" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Initialise!</h1>
            <img src="images/init.png" alt="cap-height" class="img_code">
            <ul>
                <li>Optionally: set a container based on max widths</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Set your type</h1>
            <img src="images/typeset.png" alt="typeset" class="img_code">
        </div>
    </div>

    <div class="frame fit-image">
        <div class="contained">
            <img src="images/output.png" alt="typeset" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Install as a package</h1>
            <img src="images/package.png" alt="typeset" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>More demos</h1>
            <ul>
                <li><a href="http://megatype.studiothick.com/">Megatype demo</a></li>
                <li><a href="http://smartraveller.gov.au/">Smartraveller</a></li>
            </ul>
        </div>
    </div>

    <div class="frame is-large is-centered has-image-bg">
        <div class="contained">
            <h1>The future</h1>
        </div>
        <div class="frame__img">
            <img src="images/future.gif" alt="future">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Contribute!</h1>
            <ul>
                <li><a href="https://github.com/StudioThick/megatype">https://github.com/StudioThick/megatype</a></li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Is our browser spec incomplete?</h1>
            <h2>Better type control could be native</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Well, it turns out a recommendation exists</h1>
            <h2><a href="https://www.w3.org/TR/REC-CSS2/fonts.html#descdef-cap-height">https://www.w3.org/TR/REC-CSS2/fonts.html#descdef-cap-height</a></h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>It&rsquo;s up to us</h1>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h2>Further reading:</h2>
            <ul>
                <li><a href="https://ia.net/know-how/the-web-is-all-about-typography-period">Web Design is 95% Typography</a></li>
                <li><a href="http://zellwk.com/blog/compass-vertical-rhythm/">Compass Vertical Rhythms</a></li>
                <li><a href="https://www.smashingmagazine.com/2011/03/technical-web-typography-guidelines-and-techniques/">Technical Web Typography: Guidelines and Techniques</a></li>
                <li><a href="http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/">Unitless line-heights</a></li>
                <li><a href="https://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/">CSS Baseline: The Good, The Bad And The Ugly</a></li>
                <li><a href="http://csswizardry.com/2012/06/single-direction-margin-declarations/">Single-direction margin declarations</a></li>
                <li><a href="http://www.teehanlax.com/blog/designing-faster-with-a-baseline-grid/">Designing faster with a baseline grid</a></li>
                <li><a href="https://medium.com/written-in-code/aligning-type-to-baseline-the-right-way-using-sass-e258fce47a9b#.f6zxy82jn">Aligning type to the baseline the right way using SASS</a></li>
                <li><a href="https://medium.com/@designbyjake/sassline-v2-0-e424b2881e7e#.kt32eg85a">Sassline v2.0</a></li>
                <li><a href="http://madebymike.com.au/writing/precise-control-responsive-typography">Precise control over responsive typography</a></li>
                <li><a href="https://robinrendle.com/essays/new-web-typography/">The New Web Typography</a></li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>End</h1>
            <h2>Thomas Bredin-Grey<br>@tbredin</h2><h2>Slides: <br><a href="http://talks.studiothick.com/web-typography/">http://talks.studiothick.com/web-typography/</a></h2>
        </div>
    </div>
</div>

