<a href="#" class="next-arrow js-next-frame"></a>

<div class="container">
    <div class="frame">
        <div class="contained">
            <h1>A Jolly Web Typesetting Adventure</h1>
            <h2>Web Typography is broken: here's how we can fix it</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>What?</h1>
            <ul>
                <li>Why should we care about web typography?</li>
                <li>Overview of existing tools</li>
                <li>Something new</li>
                <li>The future</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Why should we care?</h1>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>It's about the users</h1>
            <h2>How can we improve the traversability of content in a layout?</h2>
            {# how? 2 ways: type, and grids to add structure to our type #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>The web is 95% typography</h1>
            <h2>We spend a lot of time setting type, but we don't talk about it much</h2>
            {# 1: type #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Grids are one way we can bring structure to our type</h1>
            <img src="images/book.jpg" alt="Grids" class="img_small">
            {# 2: grids, for structure behind our type. Especially baseline grids #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>The web is saturated with grid columns</h1>
            <h2>To support typography, a baseline grid is more useful</h2>
            {# TODO #}
            <img src="" alt="example baseline grid">
            {# how can we build a baseline grid on the web #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>CSS <code>line-height</code> sucks.</h1>
            <h2>It adds vertical space around text.<br>Isn't this what margins are for?</h2>
            <iframe style="width: 100%; height: 14rem" src="http://codepen.io/tbredin/embed/mPVQQG/?height=268&amp;theme-id=0&amp;default-tab=result" width="320" height="268" frameborder="no" scrolling="no"></iframe>
            {# this makes it hard to build our baseline grid #}
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Developers and designers speak different languages</h1>
            <h2>There isn't any typographic basis for the space that <code>line-height</code> creates.</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>A typographic spec</h1>
            <img src="images/type-system-example.png" alt="A typographic spec">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Notable tools</h1>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Compass Vertical Rhythm
            <h2>You had one job</h2>
            <iframe height='360' scrolling='no' src='//codepen.io/tbredin/embed/eZmGyZ/?height=360&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Sassline</h1>
            <h2>Modern, but not entirely natural</h2>
            <iframe height='360' scrolling='no' src='//codepen.io/tbredin/embed/xVQVVQ/?height=360&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>
        </div>
    </div>

{#     <div class="frame">
        <div class="contained">
            <h1>Siegmeyer 2</h1>
            <h2>Modern, natural, but cumbersome</h2>
            <iframe style="width: 100%;" src="http://codepen.io/tbredin/embed/qZbgOG/?height=360&theme-id=0&default-tab=result&embed-version=2" width="320" height="360" frameborder="no" scrolling="no"></iframe>
        </div>
    </div>
 #}
    <div class="frame">
        <div class="contained">
            <h1>Something new</h1>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Best practises</h1>
            <ul>
                <li>Type is best set in rems or ems. Depending on context</li>
                <li>Pixels aren't flexible (literally)</li>
                <li>Line height is best expressed unitless</li>
                <li>Tool output should be predictable</li>
                <li>Tool output should leave predictable options for workarounds</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h2>Introducing</h2>
            <h1>MegaType</h1>
            <img src="images/megatype.png" alt="Megatype" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Web typography without the Spooky Box</h1>
            <h2>Demo time</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Breakpoint config</h1>
            <img src="images/breakpoint-map.png" alt="Breakpoint config" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Fluid type / Baseline snap</h1>
            <img src="images/scaling-and-baseline.png" alt="Scaling / Baseline" class="img_code">
            <ul>
                <li>Scale type smoothly between breakpoints / or don't</li>
                <li>Snap all type to a baseline grid / or don't</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Provide a cap-height</h1>
            <img src="images/cap-height.png" alt="cap-height" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Initialise!</h1>
            <img src="images/init.png" alt="cap-height" class="img_code">
            <ul>
                <li>Optionally: set a container based on max widths</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Set your type</h1>
            <img src="images/typeset.png" alt="typeset" class="img_code">
        </div>
    </div>

    <div class="frame fit-image">
        <div class="contained">
            <img src="images/output.png" alt="typeset" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Install as a package</h1>
            <h2>npm install megatype --save-dev<br>bower install megatype --save-dev</h2>
            <img src="images/package.png" alt="typeset" class="img_code">
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>The future</h1>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Feature requests</h1>
            <ul>
                <li>Local grids, using em?</li>
                <li>Align buttons?</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Is our browser spec incomplete?</h1>
            <h2>Better type control could be native</h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>Well, it turns out a recommendation exists</h1>
            <h2><a href="https://www.w3.org/TR/REC-CSS2/fonts.html#descdef-cap-height">https://www.w3.org/TR/REC-CSS2/fonts.html#descdef-cap-height</a></h2>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>It's up to us</h1>
        </div>
    </div>

    <div class="frame">
        <div class="contained">
            <h1>End</h1>
            <h2>Thomas Bredin-Grey<br>@tbredin</h2>
            {# TODO #}
            <ul>
                <li>refs</li>
            </ul>
        </div>
    </div>
</div>

